*{
    margin: 0;
    box-sizing: border-box; /*Incluir padding no cálculo de altura do elemento*/
}

@font-face { /* para defifir uma fonte que não é padrão do css */
    font-family: 'Young Serif';
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

:root{
    --white: hsl(0, 0%, 100%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --rose-white: hsl(330, 100%, 98%);
}

body{
    background-color: var(--eggshell); /*cor de fundo*/
    color: var(--wenge-brown); /*cor do texto*/
    font-family: 'Outfit'; /*fonte do texto*/
    min-height: 100vh; /*tamanho mínimo que o body vai ocupar*/
    line-height: 1.4; /*altura da linha do texto*/
}

h1, h2{
    text-align: left; /*alinhamento de texto*/
    font-family: 'Young Serif', serif; /*fonte do título*/
    font-size: 2.3rem; /*tamanho da fonte do título*/
    font-weight: 300; /*espessura da fonte do título*/
}

h1{
    color: var(--dark-charcoal);
    font-size: 2.8rem; /*tamanho da fonte do título*/
}

h2{
    color: var(--nutmeg);
    margin-bottom: 1rem; /*espaçamento inferior do título*/
}

img{
    max-width: 100%; /*tamanho máximo da imagem*/
    display: block; /*imagem como bloco*/
    display: block; /*Propriedade sobre posição*/
}